{
  "plugins": ["prettier-plugin-svelte"],
  "printWidth": 80,
  "proseWrap": "always",
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
